font{
	background-color: whitesmoke;
}
p{
	background: burlywood;
	margin: 0;
	padding: 0;
	width: 600px;
}
H2{
	background-color: whitesmoke;
	width: 400PX;
	font-style: inherit;
}
img{
	float: right;
}
h1{
	background-color: whitesmoke;
}