font{
	background-color: whitesmoke;
}
p{
	background:
	margin: 0;
	padding: 0;
	width: 600px;
}
H2{
	background-color: darkred;
	width: 400PX;
	font-weight: lighter;
	color: white;
	padding: 5PX;
	border-radius: 44PX;
}
img{
	float: middle;
	width: 300px;
}
h6{
	background-color: skyblue;
}

a{
	background-color: darkred;
	color: white;
	padding: 1rem 1rem;
	text-decoration: initial;
	border-radius: 66px;
}
H1{
	background-color: darkred;
	color: white;
	padding: 11PX;
	border-radius: 22PX;
	font-size: 1REM;
	min-height: 2VH;
	
}
