font{
	background-color: whitesmoke;
}
p{
	background:
	margin: 0;
	padding: 0;
	width: 600px;
}
H2{
	background-color: rgb(3, 200, .444);
	width: 400PX;
	font-weight: lighter;
}
img{
	float: middle;
	width: 300px;
}
h6{
	background-color: skyblue;
}

a{
	background-color: dodgerblue;
	color: white;
	padding: 1rem 1rem;
	text-decoration: initial;
	border-radius: 66px;
}
